* {
  padding: 0;
  margin: 0; }

body {
  background: #ddd;
  /*filter: blur(100px);*/ }

header {
  height: 155px;
  user-select: none;
  border-radius: 10px;
  background: url(../img/patterns/children-0000164__1377000084__616.jpg);
  background-attachment: fixed;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.container-fluid {
  transition: filter .4s;
  overflow: hidden; }

.clickability {
  pointer-events: none; }

.languages {
  position: absolute;
  right: 80px;
  top: 20px; }
  .languages li {
    display: inline-block;
    font-size: .9em;
    text-transform: uppercase;
    font-family: "Arial";
    color: #B9D0CD;
    cursor: pointer; }

.lang_active {
  text-decoration: underline; }

.content {
  min-height: 520px;
  padding-top: 10px; }

.masonry-container {
  padding: 0;
  background: #ddd; }

.item {
  user-select: none;
  padding: 5px; }
  .item img {
    width: 100%;
    filter: blur(1.5px);
    border-radius: 20px; }

img {
  transition: filter .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out; }

.item:hover {
  z-index: 999;
  perspective: 1000px; }

.item:hover img {
  filter: none;
  transform: scale(1.15); }

.item__content {
  transition: transform .3s ease-out;
  transform: rotateX(0deg) rotateY(0deg); }

.item img:not(.remove-button__img) {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); }

.item:hover img:not(.remove-button__img) {
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4); }

.logo {
  top: 5px;
  margin-left: 60px;
  position: absolute;
  cursor: pointer; }
  .logo img {
    width: 100px; }

.list {
  position: relative;
  list-style: none;
  top: 50px;
  margin-left: 4%; }

.block {
  background: url(../img/patterns/children-0000164__1377000084__615.jpg);
  background-attachment: fixed;
  display: inline-block;
  width: 200px;
  border: 1px solid #000;
  margin-left: 13%;
  cursor: pointer;
  transition: filter .1s ease-out; }

.active {
  background: url(../img/patterns/children-0000164__1377000084__614.jpg);
  background-attachment: fixed;
  border: 1px solid #fff;
  filter: none; }

.list li:hover a {
  text-decoration: none; }

.list li {
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-radius: 10px; }

.list li a {
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: Arial;
  color: #000;
  cursor: pointer; }

.cover-item-gallery {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: none;
  transform: scale(1.15);
  transition: transform .2s ease-out; }

.cover-item-gallery a {
  text-decoration: none; }
  .cover-item-gallery a p {
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    text-align: center;
    top: 100px; }
    .cover-item-gallery a p i {
      color: #26DDF8; }

@media only screen and (max-width: 768px) {
  header {
    height: 340px; }
  .list li a {
    font-size: 1em;
    font-weight: 100;
    color: #845B4A; }
  .languages {
    position: absolute;
    right: 40px;
    top: 25px; }
  .logo {
    top: 55px;
    margin-left: 55%;
    position: absolute;
    left: -105px; }
    .logo img {
      width: 170px; }
  .list {
    position: relative;
    list-style: none;
    top: 290px; } }

.footer {
  padding: 50px; }

.social-log {
  padding-left: 90px; }

.social:focus {
  outline: none; }

.social img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  bottom: 5px; }

.hide {
  display: none; }

.alert {
  position: absolute;
  width: 600px; }

.dropzone {
  height: 150px;
  background: url(../img/white-starlight.png);
  color: #60360E;
  line-height: 150px;
  text-align: center;
  font-size: 1.5em;
  border: 1px dashed #000;
  margin-top: 50px;
  border-radius: 20px; }

.dropzone.dragover {
  background: url(../img/green-starlight.png); }

.remove-button {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 15px;
  cursor: pointer; }

.photo-swipe {
  margin: auto;
  position: absolute;
  padding: 5px;
  display: block;
  z-index: 99999;
  transform: scale(1.15);
  transition: all .6s ease-out; }

#test img {
  width: 100%; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
