@import 'variables';

* {
  padding: 0;
  margin: 0;
}
body {
  background: #ddd;  /*filter: blur(100px);*/
}
header {
  height: 155px;
  user-select: none;
  border-radius: 10px;
  background: url(../img/patterns/children-0000164__1377000084__616.jpg);

  background-attachment: fixed;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.container-fluid {
  transition: filter .4s;
  overflow: hidden;
}
.clickability {
  pointer-events: none;
}
.languages {
  position: absolute;
  right: 80px;
  top: 20px;

  li {
    display: inline-block;
    font-size: .9em;
    text-transform: uppercase;
    font-family: "Arial";
    color: #B9D0CD;
    cursor: pointer;
  }
}
.lang_active {
  text-decoration: underline;
}
.content {
  min-height: 520px;
  padding-top: 10px;
}
.masonry-container {
  padding: 0;
  background: #ddd;
}
.item {
  user-select: none;
  padding: 5px;


  img {
    width: 100%;
    filter: blur(1.5px);
    border-radius: 20px;
  }
}
img {
  transition: filter .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out;
}
.item:hover {
  z-index: 999;
  perspective: 1000px;
}
.item:hover img {
  filter: none;
  transform: scale(1.15);
}
.item__content {
  transition: transform .3s ease-out;
  transform: rotateX(0deg) rotateY(0deg);
}
.item img:not(.remove-button__img) {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.item:hover img:not(.remove-button__img) {
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);  border: 1px solid rgba(0, 0, 0, 0.4);
}
.logo {
  top: 5px;
  margin-left: 60px;
  position: absolute;
  cursor: pointer;

  img {
    width: 100px;
  }
}
.list {
  position: relative;
  list-style: none;
  top: 50px;
  margin-left: 4%;
}
.block {
  background: url(../img/patterns/children-0000164__1377000084__615.jpg);


  background-attachment: fixed;
  display: inline-block;
  width: 200px;
  border: 1px solid #000;
  margin-left: 13%;
  cursor: pointer;
  transition: filter .1s ease-out;
}
.active {
  background: url(../img/patterns/children-0000164__1377000084__614.jpg);

  background-attachment: fixed;
    border: 1px solid #fff;
  filter: none;
}
.list li:hover a {
  text-decoration: none;
}
.list li {
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
}
.list li a {
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: Arial;
  color: #000;
  cursor: pointer;
}
.cover-item-gallery {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: none;
  transform: scale(1.15);
  transition: transform .2s ease-out;
}
.cover-item-gallery a {
  text-decoration: none;

  p {
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    text-align: center;
    top: 100px;

    i {
      color: #26DDF8;
    }
  }
}
@media only screen and (max-width:768px) {
  header {
    height: 340px;
  }
  .list li a {
    font-size: 1em;
    font-weight: 100;
    color: #845B4A
  }
  .languages {
    position: absolute;
    right: 40px;
    top: 25px;
  }
  .logo {
    top: 55px;
    margin-left: 55%;
    position: absolute;
    left: -105px;

    img {
      width: 170px;
    }
  }
  .list {
    position: relative;
    list-style: none;
    top: 290px;
  }
}
.footer {
  padding: 50px;
}
.social-log {
  padding-left: 90px;
}
.social {
  &:focus {
    outline: none;
  }
  img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    bottom: 5px;
  }
}
.hide {
  display: none;
}
.alert {
  position: absolute;
  width: 600px;
}
.dropzone {
  height: 150px;
  background: url(../img/white-starlight.png);
  color: #60360E;
  line-height: 150px;
  text-align: center;
  font-size: 1.5em;
  border: 1px dashed #000;
  margin-top: 50px;
  border-radius: 20px;
}
.dropzone.dragover {
  background: url(../img/green-starlight.png);
}
.remove-button {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.photo-swipe {
  margin: auto;
  position: absolute;
  padding: 5px;
  display: block;
  z-index: 99999;
  transform: scale(1.15);
  transition: all .6s ease-out;

}
#test img {
  width: 100%;

}